.calculator {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 30px 10%;
}

.calculator > * {
  background-color: rgba(217, 213, 213, 0.8);
  text-align: center;
  font-size: 40px;
  padding: 10px;
  font-weight: bold;
  border: 1px solid gray;
}

.item0 {
  grid-column: 1 / 5;
  text-align: right;
  background-color: rgb(144, 141, 141);
  padding: 15px;
}

.item17 {
  grid-column: 1 / 3;
}

.item4,
.item8,
.item12,
.item16,
.item19 {
  background-color: rgb(221, 101, 40);
}
